parameters:
	ignoreErrors:
		-
			message: """
				#^Call to deprecated method at\\(\\) of class PHPUnit\\\\Framework\\\\TestCase\\:
				https\\://github\\.com/sebastianbergmann/phpunit/issues/4297$#
			"""
			count: 1
			path: tests/Command/DownloadCommand/DownloadCommandTest.php

