parameters:
	ignoreErrors:
		-
			message: "#^Call to deprecated method withConsecutive\\(\\) of class PHPUnit\\\\Framework\\\\MockObject\\\\Builder\\\\InvocationMocker\\.$#"
			count: 1
			path: tests/Command/DownloadCommand/DownloadCommandTest.php

